html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.sidebar {
    height:100vh;
    overflow: hidden;
    background: #e7e6e4;
}

.btn, .btn-large, .btn-small{
    background: #FFA67A;
    color: #231f20;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
    background: #F7ece0;
}

.content {
    overflow: scroll;
}

#recipeContainer{
    width:95%;
}

.card-image{
    height: 150px;
    overflow: hidden;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.input-field label {
    font-size: 16px;
    color: #231f20;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* label underline focus color */
input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}